<section class="text-gray-600 body-font overflow-hidden">
    <div class="container py-15 mx-auto">
        <div class="p-12 flex flex-col items-start">
            <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">
                <%= locals.post.title %>
            </h2>
            <p class="leading-relaxed mb-8">Live-edge letterpress cliche, salvia fanny pack humblebrag
                narwhal portland. VHS man braid palo santo hoodie brunch trust fund. Bitters hashtag waistcoat
                fashion axe chia unicorn. Plaid fixie chambray 90's, slow-carb etsy tumeric. Cray pug you probably
                haven't heard of them hexagon kickstarter craft beer pork chic. <%= locals.post.content %>
            </p>
            <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                <span class="flex-grow flex flex-col ">
                    <span class="title-font font-medium text-gray-900">@<%= locals.post.author.username %></span>
                    <span class="text-gray-400 text-base tracking-widest mt-0.5">
                        <%= locals.post.author.name %>
                    </span>
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-base pr-5">
                    <%= new Date(locals.post.createdAt).toLocaleDateString('en-US', { day: 'numeric' , month: 'long' ,
                        year: 'numeric' }) %>
                        <%= new Date(locals.post.createdAt).toLocaleTimeString('en-US', { hour: '2-digit' ,
                            minute: '2-digit' }) %>
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-base">
                    <svg class="w-6 h-6 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                        stroke-linejoin="round" viewBox="0 0 24 24">
                        <path
                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                        </path>
                    </svg>
                    <%= locals.comments.length%>
                </span>
            </div>
            <%if(locals.pageTitle==='Delete Post' ) {%>
                <div class="flex justify-end ml-auto">
                    <a href="/posts"
                        class="flex mx-auto mr-3 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Cancel</a>
                    <form action="/posts/delete/<%=locals.postId%>?_method=DELETE" method="POST">
                        <button type="submit"
                            class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Delete
                            post</button>
                    </form>
                </div>
                <%}%>
                    <%if(locals.userId !==-1) {%>
                        <form action="/posts/<%= locals.postId %>" method="POST" class="lg:w-1/2 md:w-2/3">
                            <div class="relative">
                                <label for="comment" class="leading-7 text-sm text-gray-600">Comment post</label>
                                <textarea required id="comment" name="comment" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-52 text-base outline-none text-gray-700 py-1 px-3  leading-6 
                                transition-colors duration-200 ease-in-out"></textarea>
                            </div>
                            <button type="submit"
                                class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-3 justify-end">Comment</button>
                        </form>
                        <%}%>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font">
    <% if(locals.comments.length===0) {%>
        <h1 class="container pb-2 mx-auto text-2xl font-medium title-font text-gray-900">No comments</h1>
        <%} else {%>
            <h1 class="container pb-2 mx-auto text-2xl font-medium title-font text-gray-900">Comments</h1>
            <%}%>
                <% locals.comments.forEach(comment=> { %>
                    <div class="container p-12 flex items-center py-6 mx-auto bg-gray-100 mb-6">
                        <div class="flex flex-col md:pr-10 md:mb-0 mb-6 pr-0 w-full md:w-auto md:text-left text-center">
                            <h2 class="title-font font-medium text-gray-900">
                                @<%= comment.author.username %>
                            </h2>
                            <h1 class="leading-relaxed">
                                <%= comment.content %>
                            </h1>
                        </div>

                        <div class="flex md:mr-0 mx-auto items-center flex-shrink-0 ">
                            <span class="  flex items-start flex-col leading-none">
                                <span class="text-gray-400 text-base mb-2">
                                    <%= new Date(comment.createdAt).toLocaleDateString('en-US', { day: 'numeric' ,
                                        month: 'long' , year: 'numeric' }) %>
                                        <%= new Date(comment.createdAt).toLocaleTimeString('en-US', { hour: '2-digit' ,
                                            minute: '2-digit' }) %>
                                </span>
                                <%if(comment.authorId===locals.userId) { %>
                                    <span class="mt-3">
                                        <form action="/posts/<%=locals.postId%>?_method=DELETE" method="POST">
                                            <input type="hidden" name="commentId" value="<%= comment.id %>">
                                            <button type="submit"
                                                class="flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded text-sm">Delete
                                                comment</button>
                                        </form>
                                    </span>

                                    <%}%>
                            </span>
                        </div>
                    </div>
                    <% }); %>
</section>